In [32]:
import pandas as pd

In [33]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQi_oyAGw9BCdUcSFxrVMK3aC5QGYYl2qLmUJF7VMw968wmJZ7atgtiKbPTV6q-4LlFGf3jgaz1Ei0y/pub?gid=1093665091&single=true&output=csv")

In [34]:
# Ingresos totales de todas las personas
suma_ingresos = data["ingresos"].sum()
print("La suma de los ingresos es: ", suma_ingresos)

La suma de los ingresos es:  76180

In [35]:
# promedio de edad de las personas de arequipa
promedio_edad = data["edad"].mean()
personas_arequipa = data[data["ciudad"] == "Arequipa"]
promedio_edad_arequipa = personas_arequipa["edad"].mean()
print("personas arequipa", personas_arequipa)
#print("El promedio de edad es:", promedio_edad_arequipa)

personas arequipa       nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [36]:

# promedio de ingresos por ciudad
promedio_ingreso_lima = data[data["ciudad"] == "Lima"]["ingresos"].mean()
promedio_ingreso_arequipa = data[data["ciudad"] == "Arequipa"]["ingresos"].mean()
promedio_ingreso_cusco = data[data["ciudad"] == "Cusco"]["ingresos"].mean()
promedio_ingreso_juliacaca = data[data["ciudad"] == "Juliaca"]["ingresos"].mean()
promedio_ingreso_trujillo = data[data["ciudad"] == "Trujillo"]["ingresos"].mean()
promedio_ingreso_puno = data[data["ciudad"] == "Puno"]["ingresos"].mean()
print("El promedio de ingresos en Lima es:", promedio_ingreso_lima)
print("El promedio de ingresos en Arequipa es:", promedio_ingreso_arequipa)
print("El promedio de ingresos en Cusco es:", promedio_ingreso_cusco)
print("El promedio de ingresos en Juliaca es:", promedio_ingreso_juliacaca)
print("El promedio de ingresos en Trujillo es:", promedio_ingreso_trujillo)
print("El promedio de ingresos en Puno es:", promedio_ingreso_puno)

El promedio de ingresos en Lima es: 3366.6666666666665
El promedio de ingresos en Arequipa es: 4040.0
El promedio de ingresos en Cusco es: 2975.0
El promedio de ingresos en Juliaca es: 4990.0
El promedio de ingresos en Trujillo es: 2520.0
El promedio de ingresos en Puno es: 1300.0

In [41]:
# calcular la persona mas joven y la persona menos joven
persona_mas_joven = data[data["edad"] == data["edad"].min()][['nombre', 'edad']]
persona_menos_joven = data[data["edad"] == data["edad"].max()][['nombre', 'edad']]
print("La persona mas joven es:\n", persona_mas_joven.to_string(index=False))
print("La persona menos joven es:\n", persona_menos_joven.to_string(index=False))

La persona mas joven es:
  nombre  edad
Micaela    21
La persona menos joven es:
 nombre  edad
Leonel    64

In [43]:
# calcular la persona mas joven y la persona menos joven con todos sus datos
persona_mas_joven = data[data["edad"] == data["edad"].min()]
persona_menos_joven = data[data["edad"] == data["edad"].max()]
print("La persona mas joven es:\n", persona_mas_joven)
print("La persona menos joven es:\n", persona_menos_joven)

La persona mas joven es:
      nombre  edad   ciudad  ingresos
11  Micaela    21  Juliaca      5000
La persona menos joven es:
    nombre  edad   ciudad  ingresos
5  Leonel    64  Juliaca      4980

In [49]:
# calcular el numero de personas por ciudad
numero_personas_arequipa = len(data[data["ciudad"] == "Arequipa"])
numero_personas_cusco = len(data[data["ciudad"] == "Cusco"])
numero_personas_lima = len(data[data["ciudad"] == "Lima"])
numero_personas_juliaca = len(data[data["ciudad"] == "Juliaca"])
numero_personas_trujillo = len(data[data["ciudad"] == "Trujillo"])
numero_personas_puno = len(data[data["ciudad"] == "Puno"])
print("Numero de personas en Arequipa:", numero_personas_arequipa)
print("Numero de personas en Cusco:", numero_personas_cusco)
print("Numero de personas en Lima:", numero_personas_lima)
print("Numero de personas en Juliaca:", numero_personas_juliaca)
print("Numero de personas en Trujillo:", numero_personas_trujillo)
print("Numero de personas en Puno:", numero_personas_puno)

Numero de personas en Arequipa: 5
Numero de personas en Cusco: 4
Numero de personas en Lima: 6
Numero de personas en Juliaca: 2
Numero de personas en Trujillo: 5
Numero de personas en Puno: 1